* {
  box-sizing: border-box;
}
:root {
  --border-color: rgb(79, 4, 79);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #000;
  color: #f6f6f6;
}
.control-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.control-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 10px 20px;
  background-color: var(--border-color);
  border: none;
  border-radius: 6px;
  color: #f6f6f6;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 2px 5px var(--border-color);
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 570px;
  }
  .main-game .block {
    width: 150px;
    height: 150px;
  }
  .main-game .block img {
    width: 150px;
    height: 150px;
  }
  .main-game .block .front::before {
    font-size: 150px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .main-game .block {
    width: 150px;
    height: 150px;
  }
  .main-game .block img {
    width: 150px;
    height: 150px;
  }
  .main-game .block .front::before {
    font-size: 150px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1160px;
  }
}

.info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  border: 3px solid var(--border-color);
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 6px;
}
.main-game .container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-game .container.no-click {
  pointer-events: none;
}
.main-game .block {
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 1000px;
}
.main-game .block img {
  width: 150px;
  height: 150px;
  border: 3px solid var(--border-color);
  border-radius: 6px;
}
.main-game .block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}
.main-game .block .front {
  width: 100%;
  height: 100%;
  background-color: #818181;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--border-color);
  border-radius: 6px;
  cursor: pointer;
}
.main-game .block .front::before {
  content: "!";
  font-size: 150px;
  color: #000;
  font-weight: bold;
}
.main-game .block .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--border-color);
  border-radius: 6px;
  transform: rotateY(180deg);
}
.main-game .block.flip .front {
  transform: rotateY(180deg);
}
.main-game .block.flip .back {
  transform: rotateY(0deg);
}
.main-game .block.done .front {
  transform: rotateY(180deg);
}
.main-game .block.done .back {
  transform: rotateY(0deg);
}
footer.footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #f6f6f6;
  margin-top: 20px;
  border-top: 3px solid var(--border-color);
}
footer.footer span {
  font-weight: bold;
}
/* Mobile (extra small devices, below 576px) */
@media (max-width: 776px) {
  .main-game .block {
    width: 100px;
    height: 100px;
  }
  .main-game .block img {
    width: 100px;
    height: 100px;
  }
  .main-game .block .front::before {
    font-size: 60px;
  }
  .main-game .container {
    gap: 10px;
  }
}
